
  #posting aside{
    position: relative;
    float: left;
    width:20%;
    padding:15px;
    height: 1050px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
  }

  #posting .category{
    margin: 10px 0px 0px 10px;
    list-style-type: none;
  }

    #posting .content_board a.btn_write{
      float: right;
      margin: 7px;
    }

    #posting .page_space{
      margin-top: 30px;
      text-align: center;
    }

    #posting input.form_search {
    border: 1px solid #e4e4e4;
    height: 25px;
    margin: 20px 0px 0px 400px;
    }

    #posting input.btn_search {
    /*
    background: url( "../img/btn_search.png" ) no-repeat;
    */
    border: none;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    cursor: pointer;
    }
